<h1>Editing cbv flow invitation</h1>

<%= render "form", cbv_flow_invitation: @cbv_flow_invitation %>

<br>

<div>
  <%= link_to "Show this cbv flow invitation", @cbv_flow_invitation %> |
  <%= link_to "Back to cbv flow invitations", cbv_flow_invitations_path %>
</div>
